*.beam
*.swp
.eunit
deps/*
ebin/*
dev
bin/*.swp
priv/*.swp
src/*.swp
test/*.swp
tags
.qc/
riak_test/ebin/*.beam
.eqc-info
current_counterexample.eqc
dialyzer_warnings
.rebar/
distdir
package
deps.test/
rt/
.combo_dialyzer_plt
.local_dialyzer_plt
build
.vagrant
_build/
TEST-*
data/
*.deb
log/
_checkouts/
fprof.trace
.rebar3/
.eqc/
dcos/
priv/ssh/*id_rsa*
priv/evaluation
priv/lager
src/lasp_sql_lexer.erl
src/lasp_sql_parser.erl
bin/a
dcos.pem
logs/
erl_crash.dump
