*.beam
.eunit
deps/*
ebin/*
dev
src/*.swp
apps/derflow/src/*
.local_dialyzer_plt
tags
log/
.qc/
riak_test/ebin/*.beam
.eqc-info
current_counterexample.eqc
rel/lasp
dialyzer_warnings
.rebar/
distdir
package
deps.test/
rt/
.combo_dialyzer_plt
