%% Lasp.
{lasp, [
    %% [See rtdev.rt_project above]
    {rt_project, "lasp"},

    %% Name of executable.
    {exec_name, "lasp"},

    %% Cookie.
    {rt_cookie, lasp},

    %% Location of tests.
    {test_paths, ["riak_test/ebin"]},

    %% Tests to remote load.
    {tests_to_remote_load, "riak_test/*_test.erl"},

    %% [See rtdev.rtdev_path above]
    {rtdev_path, [{root, "rt/lasp"},
                  {current, "rt/lasp/current"}]}
]}.
