%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%
%% Packaging
%%
{package_name, "lasp"}.
{package_install_name, "lasp"}.
{package_install_user, "lasp"}.
{package_install_group, "lasp"}.
{package_install_user_desc, "Lasp user"}.
{package_commands, {list, [[{name, "lasp"}], [{name, "lasp-admin"}], [{name, "search-cmd"}], [{name, "lasp-debug"}]]}}.
{package_shortdesc, "Lasp: A Language for Distributed, Eventually Consistent Computations"}.
{package_desc, "Lasp: A Language for Distributed, Eventually Consistent Computations"}.
{bin_or_sbin, "sbin"}.
{package_patch_dir, "basho-patches"}.
{solaris_pkgname, "LASPlang"}.
{license_type, "Apache 2"}.
{copyright, "2015 Christopher Meiklejohn"}.
{vendor_name, "Christopher Meiklejohn"}.
{vendor_url, "http://lasp-lang.org"}.
{vendor_contact_name, "Christopher Meiklejohn"}.
{vendor_contact_email, "christopher.meiklejohn@gmail.com"}.
{license_full_text, "This file is provided to you under the Apache License,\n"
"Version 2.0 (the \"License\"); you may not use this file\n"
"except in compliance with the License.  You may obtain\n"
"a copy of the License at\n"
"\n"
"  http://www.apache.org/licenses/LICENSE-2.0\n"
"\n"
"Unless required by applicable law or agreed to in writing,\n"
"software distributed under the License is distributed on an\n"
"\"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY\n"
"KIND, either express or implied.  See the License for the\n"
"specific language governing permissions and limitations\n"
"under the License."}.
