{erl_opts, [debug_info,
            warnings_as_errors,
            warn_untyped_record,
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{deps_dir, "deps.test"}.
{lib_dirs, ["deps"]}.
{deps, [{riak_test, ".*", {git, "git://github.com/lasp-lang/riak_test", {branch, "master"}}}]}.
