{deps, [
    {lager, {git, "https://github.com/basho/lager", {tag, "3.1.0"}}},
    {lasp_support, {git, "https://github.com/lasp-lang/lasp_support", {tag, "0.0.1"}}},
    {plumtree, {git, "https://github.com/lasp-lang/plumtree", {tag, "0.0.1"}}},
    {riak_dt, {git, "https://github.com/lasp-lang/riak_dt", {tag, "develop"}}},
    {sext, {git, "https://github.com/uwiger/sext.git", {tag, "1.3"}}},
    {time_compat, {git, "https://github.com/lasp-lang/time_compat.git", {tag, "0.0.1"}}},
    {gb_trees_ext, {git, "https://github.com/lasp-lang/gb_trees_ext.git", {tag, "0.0.1"}}},
    {gen_flow, {git, "https://github.com/lasp-lang/gen_flow.git", {tag, "0.0.1"}}}
]}.

{cover_enabled, true}.
{plugins, [{pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(dtrace)\" : Mod)", []}]}.

{profiles, [
    {package,  [
        {plugins, [rebar3_hex]}
    ]},
    {test,  [
        {plugins, [{rebar3_eqc, {git, "https://github.com/kellymclaughlin/rebar3-eqc-plugin.git", {branch, "master"}}}]}
    ]},
    {lint,  [
        {plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}
    ]},
    {docs, [
        {deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}]}
    ]}
]}.

{overrides,
  [{override, sext, [{{deps,default}, []}]},

   {override, eleveldb,
    [{{deps,default}, []},

     {artifacts, ["priv/eleveldb.so"]},
     {pre_hooks, [{compile, "c_src/build_deps.sh get-deps"},
                  {compile, "c_src/build_deps.sh"}]},

     {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},

     {plugins, [pc]},

     {provider_hooks, [
                      {post, [
                             {compile, {pc, compile}},
                             {clean, {pc, clean}}
                             ]
                      }]
     }
    ]}
]}.

{elvis,
 [#{dirs => ["apps/*/src", "src"],
       filter => "*.erl",
       rules => [
                 %% {elvis_style, line_length,
                 %%  #{ignore => [],
                 %%    limit => 80,
                 %%    skip_comments => false}},
                 {elvis_style, no_tabs},
                 {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names, #{ignore => []}},
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 %% {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 25,
                    ignore => []}},
                 {elvis_style, no_if_expression},
                 %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
                 {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 {
                   elvis_style,
                   function_naming_convention,
                   #{regex => "^([a-z][a-z0-9]*_?)*$"}
                 },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records}
                 %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 %% {elvis_style, no_debug_call, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                 {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}},
                 {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
      }
    ]
}.
