{deps, [
    {lager, {git, "https://github.com/basho/lager", {tag, "3.2.1"}}},
    {plumtree, {git, "https://github.com/lasp-lang/plumtree", {tag, "master"}}},
    {partisan, {git, "https://github.com/lasp-lang/partisan", {tag, "new_hyparview"}}},
    {types, {git, "https://github.com/lasp-lang/types", {tag, "master"}}},
    {sext, {git, "https://github.com/uwiger/sext.git", {tag, "1.3"}}},
    {time_compat, {git, "https://github.com/lasp-lang/time_compat.git", {tag, "0.0.2"}}},
    {rand_compat, {git, "https://github.com/lasp-lang/rand_compat.git", {tag, "master"}}},
    {lasp_support, {git, "https://github.com/lasp-lang/lasp_support.git", {tag, "0.0.2"}}},
    {gb_trees_ext, {git, "https://github.com/lasp-lang/gb_trees_ext.git", {tag, "0.0.2"}}},
    {gen_flow, {git, "https://github.com/lasp-lang/gen_flow.git", {tag, "master"}}},
    {types, {git, "https://github.com/lasp-lang/types.git", {tag, "master"}}},
    {webmachine, {git, "https://github.com/webmachine/webmachine.git", {tag, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "master"}}},
    {mochiweb, {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}},
    {ranch, {git, "https://github.com/extend/ranch.git", {tag, "1.2.1"}}},
    {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {tag, "master"}}}
]}.

%% leex options
{xrl_opts, []}.
%% leex files to compile first
{xrl_first_files, ["src/lasp_sql_lexer.xrl"]}.

%% yecc options
{yrl_opts, []}.
%% yecc files to compile first
{yrl_first_files, ["src/lasp_sql_parser.yrl"]}.

{cover_enabled, true}.
{plugins, [{pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}},
           rebar3_auto]}.

{erl_opts, [debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(dtrace)\" : Mod)", []}]}.

{profiles, [
    {package,  [
        {plugins, [rebar3_hex]}
    ]},
    {lint,  [
        {plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}
    ]},
    {docs, [
        {deps, [{edown, ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}]}
    ]}
]}.

{overrides,
  [{override, sext, [{{deps,default}, []}]}
]}.

{elvis,
 [#{dirs => ["src"],
       filter => "*.erl",
       ignore => [lasp_sql_lexer, lasp_sql_parser],
       rules => [
                 %% {elvis_style, line_length,
                 %%  #{ignore => [],
                 %%    limit => 80,
                 %%    skip_comments => false}},
                 {elvis_style, no_tabs},
                 %% {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names, #{ignore => []}},
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 %% {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 25,
                    ignore => []}},
                 {elvis_style, no_if_expression},
                 %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
                 %% {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 %% {
                 %%   elvis_style,
                 %%   function_naming_convention,
                 %%   #{regex => "^([a-z][a-z0-9]*_?)*$"}
                 %% },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records}
                 %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 %% {elvis_style, no_debug_call, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                 {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
      },
     #{dirs => ["."],
       filter => "rebar.config",
       rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}},
                 {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
      }
    ]
}.

{relx, [{release, {lasp, "0.0.5"}, [lasp]},
        {extended_start_script, true},

        {dev_mode, true},
        {include_erts, false},

        {sys_config, "config/sys.config"},
        {vm_args, "config/vm.args"},

        {overlay, [{mkdir, "log/sasl"},
                   {mkdir, "data/"},
                   {copy, "bin/env", "bin"},
                   {copy, "bin/ienv", "bin"}
                  ]}]}.
