[{lasp, [{storage_backend, lasp_ets_storage_backend}]},
 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},
{lager, [{error_logger_redirect, true},
%% {suppress_application_start_stop, true},
%% {suppress_supervisor_start_stop, true},
{handlers,
[{lager_console_backend,
[{level, info},
    {formatter, lager_default_formatter},
    {formatter_config,
    [time, " [",severity,"] ",
    pid, " ",
    {module, ["mod=", module, {function, [" fun=", function], ""}, " "], ""}, message, "\n"]}]}]}]}].