{sys, [ {lib_dirs, ["../deps/"]},
       {rel, "lasp", "1",
        [
         kernel,
         stdlib,
         sasl,
         lasp
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "lasp"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, lasp, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "lasp"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "data/ring"},

           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
                  "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/node_package/priv/base/nodetool",
                  "{{erts_vsn}}/bin/nodetool"},
           {copy, "../deps/cuttlefish/cuttlefish",
                  "{{erts_vsn}}/bin/cuttlefish"},
           {template, "../deps/node_package/priv/base/runner",
                  "bin/lasp"},
           {template, "../deps/node_package/priv/base/env.sh",
                  "lib/env.sh"},
           {template, "../deps/node_package/priv/base/app_epath.sh",
                  "lib/app_epath.sh"},

           %% Configuration files.
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/lasp", "bin/lasp"},

           %% Copy additional bin scripts
           {template, "files/lasp-admin", "bin/lasp-admin"},

           {template, "../deps/cuttlefish/priv/erlang_vm.schema",
                    "lib/11-erlang_vm.schema"},
           {template, "../deps/eleveldb/priv/eleveldb.schema",
                    "lib/21-leveldb.schema"},

           {mkdir, "lib/basho-patches"}
           ]}.
