%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{platform_data_dir,     "./data"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.

%%
%% etc/vm.args
%%
{node,                  "derflow@127.0.0.1"}.
{cookie,                "derflow"}.
