%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{platform_data_dir,     "./data"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8098"}.
{handoff_port,          "8099"}.
{ring_creation_size,    8}.

%%
%% etc/vm.args
%%
{node,                  "lasp@127.0.0.1"}.
{cookie,                "lasp"}.

%%
%% bin/lasp
%%
{runner_script_dir,  "\`cd \\`dirname $0\\` 1>/dev/null && /bin/pwd\`"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/lasp-patches"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
%% {runner_wait_process, "riak_core_node_watcher"}.
{runner_ulimit_warn, 65536}.
