%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

%%
%% etc/app.config
%%
{ring_state_dir,    "data/ring"}.
{web_ip,            "127.0.0.1"}.
{web_port,          10068}.
{handoff_port,      10069}.

%%
%% etc/vm.args
%%
{node,         "dev6@127.0.0.1"}.
{cookie, "lasp"}.

%%
%% bin/lasp
%%
{runner_script_dir,  "\`cd \\`dirname $0\\` 1>/dev/null && /bin/pwd\`"}.
{runner_base_dir,    "{{runner_script_dir}}/.."}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{runner_lib_dir,     "$RUNNER_BASE_DIR/lib"}.
{runner_patch_dir,   "$RUNNER_BASE_DIR/lib/lasp-patches"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
%% {runner_wait_process, "riak_core_node_watcher"}.
{runner_ulimit_warn, 65536}.

